<script defer src="/javascripts/sidebar.js"></script>
    <div class="container">
        <div class="content">
            <aside class="sidebar">
                <div class="logo">
                    <img src="/image/logo_vermelho.png" class="logo" alt="Logo">
                </div>
                <nav class="menu">
                    <a href="/" class="menu-item ">Início</a>
                    <a href="/abrir-chamado" class="menu-item active">Abrir Chamados</a>
                    <a href="#" class="menu-item">Seus Chamados</a>
                </nav>
                <button class="logout">Sair</button>
            </aside>
            <header>
            </header>
        </div>
    </div>
