<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamados - Optimize Consultoria</title>
    <link rel="stylesheet" href="/stylesheets/abrir-chamado/abrir-chamado.css">
    <link rel="icon" href="/favicon.png" type="image/png">
</head>
<body>
    <div class="container">
        <main class="content">
            <%- include('../sidebar') %>
            <header>
            </header>
            <form class="form">
                <h1>Abrir Chamado</h1>
                <div class="form-row">
                    <div class="form-group">
                        <label for="titulo">Título Do Chamado</label>
                        <input type="text" id="titulo">
                    </div>
                    <div class="form-group">
                        <label for="identificador">Identificador</label>
                        <input type="text" id="identificador">
                    </div>
                    <div class="form-group">
                        <label for="urgencia">Urgência</label>
                        <select type="text" id="urgencia">
                            <option value="">Selecionar...</option>
                            <option value="">Necessário ação imediata</option>
                            <option value="">Atender o mais cedo possível</option>
                            <option value="">Prazo padrão de Atendimento</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="gravidade">Gravidade</label>
                        <select type="text" id="gravidade">
                            <option value="">Selcionar...</option>
                            <option value="0">Erro que impede a continuidade da ferramente</option>
                            <option value="1">Sistema Indiponível</option>
                            <option value="2">Erro Crítico</option>
                            <option value="3">Erro médio ou de menor impacto</option>
                            <option value="4">Dúvidas e ou melhorias</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="data">Data</label>
                        <input type="date" id="data">
                    </div>
                    <div class="form-group">
                        <label for="ferramenta">Ferramenta</label>
                        <select name="ferramenta" id="ferramenta">
                            <option value="">Selecionar...</option>
                            <option value="">SE Suite</option>
                            <option value="">OptimiDoc</option>
                            <option value="">CloudSek</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Atendimento para ambiente de:</label>
                        <label><input type="radio" name="ambiente" class="check-box" value="teste"> Teste</label>
                        <label><input type="radio" name="ambiente" class="check-box" value="producao"> Produção</label>
                    </div>
                    <div class="form-group">
                        <label for="emails">E-mails para serem notificados</label>
                        <textarea id="emails"></textarea>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        <label>Anexos</label>
                        <input type="file">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <textarea id="descricao" rows="5"></textarea> 
                    </div>
                </div>
                <button type="submit" class="btn-submit">Enviar</button>
            </form>
        </main>
    </div>
</body>
</html>