<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/home/home.css">
</head>
<body>
  <%- include('../sidebar') %>
  <main>
    <h1>Bem-vindo à Página 1</h1>
    <p>Conteúdo exclusivo da Página 1.</p>
  </main>
</body>
</html>
